.home-page {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
  background-size: cover;
  margin-bottom: 50px;
  @include boxShadowEven();

  .text {
    text-align: center;

    h1 {
      font-size: 3em;
    }

    h3 {
      font-size: 1.5em;
    }
  }
}

.vertical-scroll::-webkit-scrollbar {
  display: none;
}