body {
  background-color: $black;
  color: $offWhite;
  padding: 0;
  margin: 0;

  body::-webkit-scrollbar {
    display: none;
  }
}

.nav-wrapper {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: $black;

  .links {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .nav-link-wrapper {

      .nav-link-active {
        color: $blue;
      }
    }

    a {
      text-decoration: none;
      color: $offWhite;
      transition: .5s ease-in-out;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $blue;
        border-bottom: 1px solid $blue;

      }
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    // justify-content: center - 5px;
    align-items: flex-end;
    width: 100vw;
    color: gray;
    margin-top: 15px;
    margin-right: 15px;

    .name {
      padding-bottom: 8px;
      font-size: 1.2em;
    }

    .email {
      padding-bottom: 8px;
    }

    .location {}
  }
}