  .statValuesHeader {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    .statValues {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      width: 80vw;

      span {
        font-size: 1.2em;
      }
    }
  }