.home-page {
  height: auto;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
  background-size: cover;
  margin-bottom: 50px;

  .text {
    text-align: center;

    h1 {
      font-size: 3em;
    }

    h3 {
      font-size: 1.5em;
    }
  }

  .image {
    display: flex;
    justify-content: flex-end;


    img {
      border-radius: 5px;
    }
  }
}

// .home-page {
//   height: auto;
// }

// .hero-section {
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   align-items: center;
//   padding: 20px 30px 80px 30px;

//   .text {
//     text-align: center;

//     h1 {
//       font-size: 3em;
//     }

//     h3 {
//       font-size: 1.5em;
//     }
//   }

//   .image {
//     display: flex;
//     justify-content: flex-end;


//     img {
//       border-radius: 5px;
//     }
//   }
// }