.StatsPage {
  display: grid;
  justify-content: center;


  .date {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 45px;
  }

  .Stats {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    align-items: center;
    width: 80vw;
    // margin-bottom: 10px;

    span {
      font-size: 1.3em;
      border: 2px solid $offWhite;
      border-bottom: 2px solid $offWhite;
      padding: 3px;
    }

  }
}

.statValuesHeader {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  .statValues {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    align-items: center;
    width: 80vw;

    span {
      font-size: 1.2em;
    }
  }
}

.deleteButton {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.5em;
  color: $babyBlue;
  transition: .5s ease-in-out;

  &:hover {
    color: rgb(208, 0, 0);
  }
}